{
  "extends": ["next/core-web-vitals", "prettier", "plugin:storybook/recommended"],
  "plugins": ["simple-import-sort", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-irregular-whitespace": "off",
    "no-console": ["error", { "allow": ["log"] }],
    "no-unused-vars": "off",
    "no-useless-catch": "off",
    "simple-import-sort/imports": "error"
  }
}
