{
  "extends": ["next/core-web-vitals", "plugin:tailwindcss/recommended"],
  "plugins": ["simple-import-sort", "tailwindcss"],
  "rules": {
    "no-irregular-whitespace": "off",
    "no-console": ["error", { "allow": ["log"] }],
    "no-unused-vars": "off",
    "no-useless-catch": "off",
    "simple-import-sort/imports": "error"
  }
}
