---
interface Props {
  text: string
}
const { text } = Astro.props
---
<div class="mx-auto min-w-full max-w-7xl bg-yellow-300 p-1 sm:px-3 sm:py-2 lg:px-4">
  <div class="flex flex-wrap items-center justify-between">
    <div class="flex w-0 flex-1 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 stroke-black" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
      </svg>
      <p class="ml-3 text-black">{text}</p>
    </div>
  </div>
</div>
