---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/client/navigation/header'
import Footer from '../../components/server/layout/footer.astro'
import MoreStories from '../../components/server/post/more-stories.astro'
import Container from '../../components/server/headless/container.astro'
import { getAllPostData } from '../../domain/posts'
import { getAllSeries } from '../../domain/series'

export async function getStaticPaths() {
  const series = await getAllSeries()
  return series.map(s => ({ params: { slug: s.hash } }))
}

const { slug } = Astro.params
const allSeries = await getAllSeries()
const target = allSeries.find(x => x.hash === slug)
const title = `シリーズ：${target?.title ?? ''}`
const allPosts = await getAllPostData()
const posts = allPosts.filter(x => x.series?.hash === slug)
const ogImages = posts.flatMap(x => x.ogImage ?? [])
const ogImage = ogImages[0]?.url
---

<Layout title={title} ogImage={ogImage}>
  <Header client:load />
  <Container>
    <section class="flex flex-col items-center pb-16 pt-8 md:flex-row md:justify-between md:pb-6">
      <h1 class="mb-6 text-5xl font-bold leading-tight tracking-tighter md:pr-8 md:text-8xl">
        {title}
      </h1>
    </section>
    <MoreStories posts={posts} postsOnly />
  </Container>
  <Footer />
</Layout>
